*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #c0c0c0;
    color: #333;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    min-height: calc(100vh - 60px);
    text-align: center;
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation li {
    margin: 0 15px;
}

.main-navigation a {
    text-decoration: none;
    color: white;
}

.header, .footer {
    background-color: #2a4362;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.item-projeto {
    background-color: #2a4362;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #c0c0c0;
}

.item-projeto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.img-perfil{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.footer-icon{
    width: 35px;
    height: auto;
    margin: 0 10px;
}

