*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #c0c0c0;
    color: #333;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

.profile-pic {
    float: center;
    width: 175px; 
    height: 175px; 
    border-radius: 50%;
    margin-right: 20px; 
    object-fit: cover; 
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.main-navigation li {
    margin: 0 15px
}

.main-navigation a {
    text-decoration: none;
    color: white;
}

.header, .footer {
    background-color: #2a4362;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}